# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.env.local

# Flask
instance/
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.code-workspace

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
